apiVersion: v1
kind: Service
metadata:
  name: wgadm
spec:
  ports:
  - name: wgadm
    port: 443
    protocol: TCP
    targetPort: 8000
  selector:
    app: wgadm
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wgadm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wgadm
  template:
    metadata:
      labels:
        app: wgadm
    spec:
      containers:
      - name: wgadm
        image: sandromello/wgadmin:v0.0.4-10
        imagePullPolicy: Always
        args:
        - run-server
        - --config-file=/var/run/secrets/wgadmin/config.yaml
        resources:
          requests:
            memory: 128Mi
            cpu: 20m
          limits:
            memory: 128Mi
            cpu: 200m
        volumeMounts:
        - name: tls-secret-volume
          mountPath: /etc/ssl/custom-certs
        - name: google-credentials-volume
          mountPath: /var/run/secrets/google
        - name: webapp-config-volume
          mountPath: /var/run/secrets/wgadmin
      volumes:
      - name: tls-secret-volume
        secret:
          secretName: tls-ssl-wgadm
          items:
          - key: tls-cert.pem
            path: tls-cert.pem
          - key: tls-cert-key.pem
            path: tls-cert-key.pem
      - name: google-credentials-volume
        secret:
          secretName: google-credentials
      - name: webapp-config-volume
        secret:
          secretName: webapp-config